{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price 
-%}
<div>{{ compare_at_price }}</div>
<div>{{ price }}</div>
<div>{{ product.quantity_price_breaks_configured? }}</div>

{% if compare_at_price > price and product.quantity_price_breaks_configured? != true %}
  <div>
    On Sale {{ compare_at_price }}
    {{ price }}
  </div>
{% endif %}
