{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price
  assign available = target.available
-%}

<div
  class="price {{ price_class }} {%- if compare_at_price > price %} price--on-sale{% endif -%}"
  id="price-container-{{ section.id }}"
  data-price="{{ price }}"
  data-compare-at-price="{{ compare_at_price }}"
  data-available="{{ available }}"
>
  <div class="price__container">
    {%- if compare_at_price > price -%}
      <div class="price__sale">
        <span class="price-item price-item--sale">{{ price | money }}</span>
      </div>
      <div class="price__regular">
        <span class="price-item price-item--regular">
          <s>{{ compare_at_price | money }}</s>
        </span>
      </div>
    {%- else -%}
      <div class="price__regular">
        <span class="price-item price-item--regular">{{ price | money }}</span>
      </div>
    {%- endif -%}
  </div>
</div>